@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

/*Diseño de Empleado.xhtml*/
#ListadoDeEmpleados{
    font-family: 'Rouge Script', cursive;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 4px;
}